
<section class="py-5">
    <div class="container">
      <div class="row gx-5">
        <aside class="col-lg-6">
          <div class="border rounded-4 mb-3 d-flex justify-content-center">
            <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image" href={{product.thumbnail}}>
              <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src={{product.thumbnail}} />
            </a>
          </div>
          <div class="d-flex justify-content-center mb-3">

            @for(image of productImages; track image){

              <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image" href={{image}} class="item-thumb">
                <img width="60" height="60" class="rounded-2" src={{image}}  />
              </a>
            }
    
          </div>

        </aside>
        <main class="col-lg-6">
          <div class="ps-lg-3">
            <h4 class="title text-dark">
              {{ product.brand + " " + product.title }}
            </h4>
            <div class="d-flex flex-row my-3">
              <div class="text-warning mb-1 me-2">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
                <span class="ms-1">
                  {{product.rating}}
                </span>
              </div>
              <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>{{product.stock}}</span>
              <span class="text-success ms-2">In stock</span>
            </div>
  
            <div class="mb-3">
              <span class="h5">{{product.price}} &euro;</span>
            </div>
  
            <p>
            {{product.description}}
            </p>
  
            <hr />
  
            <div class="row mb-4">
             
              <!-- col.// -->
              <div class="col-md-4 col-6 mb-3">
                <label class="mb-2 d-block">Quantity</label>
                <div class="input-group mb-3" style="width: 170px;">
                  <button class="btn btn-white px-3" type="button" id="button-addon1" (click)="decreaseQuantity()">
                    <i class="bi bi-dash-circle quantity_icons"></i>
                  </button>
                  <input type="text" class="form-control text-center" [placeholder]='quantity' aria-label="Example text with button addon" aria-describedby="button-addon1" />
                  <button class="btn btn-white px-3" type="button" id="button-addon2" (click)="increaseQuantity()">
                    <i class="bi bi-plus-circle quantity_icons"></i>
                  </button>
                </div>
              </div>
            </div>
            <a routerLink='/checkout' class="btn btn-warning shadow-0"> Buy now </a>
            
            <button class="btn btn-primary" (click)="addProductToCart()">Add to Cart <i class="bi bi-bag"></i></button>
           
          </div>
        </main>
      </div>
    </div>
  </section>
  <!-- content -->
  
  
  