#login-button{
    text-decoration: none;
    color: black;
    padding-inline: 1rem;
    border-right: 1px solid grey;
}

.user-info-container{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.user-default-avatar{
    font-size: 1.7rem;
}

.avatar-img{
    width: 2.5rem;
    height: 2.5rem;
}


/*------------------*/

.input {
    width: 100%;
    max-width: 220px;
    height: 45px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
  }
  
  .input:hover {
    border: 2px solid #ffc107;
    box-shadow: 0px 0px 20px -17px;
  }
  
  .input:active {
    transform: scale(0.95);
  }
  
  .input:focus {
    border: 2px solid #ffc107;
  }