<div class="results-header">
  <h2>Products</h2>
  <span id="total-results">{{(length$ | async)}} products</span>
</div>
<div class="product-footer">
  <mat-paginator [length]="(length$ | async)"
                [pageSize]="pageSize"
                aria-label="Select page"
                (page)="onPageChange($event)">
  </mat-paginator>
</div>

@if (products$ | async) {
<div class="product-list row row-cols-1 row-cols-md-4 g-3">
  @if (productsList$ | async) { @for (product of productList; track product) {
  <div class="col">
    <div class="card" style="width: 19rem">
      <img
        src="{{ product.thumbnail }}"
        class="card-img-top product-image"
        alt="..."
      />
      <div class="card-body">
        <span class="product-category text-muted">{{ product.category }}</span>
        <h5 class="card-title mt-1 product-title">
             <a [routerLink]="['/details', product.id]">{{ product.brand + " " + product.title }}</a>
        </h5>
        <p class="card-text product-description">{{ product.description }}</p>
        <div class="d-flex flex-row user-ratings">
          <div class="ratings">
            <!-- @for(star of [].constructor(5); track star){} -->
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-half"></i>
            <i class="bi bi-star"></i>
          </div>
          <h6 class="text-muted ms-2">{{ product.rating }}</h6>
        </div>
        <span class="product-price d-block">{{ product.price }} &euro;</span>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  } 

}
</div>
}
