.card-title a {
    text-decoration: none;
    color: black;
}

h5 {
    cursor: pointer;
    font-size: 1.4rem;
}

h2 {
    font-weight: bold;
    font-size: 2rem;
}

.results-header {
    margin-bottom: 2rem
}

#total-results {
    font-size: 0.9rem;
}

.ratings i {
    color: orange;
}

.user-ratings h6 {
    margin-top: 2px;
}


.product-price {
    font-weight: bold;
}

.product-category {
    font-size: 0.8rem;
    color: #f4f3f3;
    font-weight: 500;
}

.card-body {
    height: 230px;
    overflow: hidden;
}

.product-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product-description {
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product-image {
    height: 250px;
    object-fit: cover;
}

.product-footer {
    margin: 2rem 0rem;
}


#app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 10;
}


#footer {
    margin-top: auto;
}