<div class="page-container container">
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="lines lines_rorate">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div
        class="container h-100 d-flex justify-content-center align-items-center flex-column"
      >
        <h1 class="error_code mb-4">404</h1>
        <h2>Oops, sorry!</h2>
        <p>It seems like the page you want has been lost...</p>
      </div>
      
</div>

