
.page-container {
    background-color: rgb(252, 245, 245);
    color: rgb(255, 171, 61);
}

.error_code {
    font-weight: 700;
    font-size: 170px;
}

h2 {
    font-weight: 600;
    font-size: 110px;
}

p {
    font-size: 20px;
}

.lines_rorate {
    -webkit-transform: rotate(90deg);
    /* Safari and Chrome */
    -moz-transform: rotate(90deg);
    /* Firefox */
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -o-transform: rotate(90deg);
    /* Opera */
    transform: rotate(90deg);

    width: 100%;
    height: auto;
}

.lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    /* margin: auto; */
    width: 90vw;
}

.line {
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.line::after {
    content: "";
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom,
            var(--text-color) 0%,
            var(--text-color) 75%,
            #ffffff 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
    margin-left: -25%;
}

.line:nth-child(1)::after {
    animation-delay: 2s;
}

.line:nth-child(3) {
    margin-left: 25%;
}

.line:nth-child(3)::after {
    animation-delay: 2.5s;
}

@keyframes drop {
    0% {
        top: -50%;
    }

    100% {
        top: 110%;
    }
}